<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=sitename%> ( <%=username%> ) </title>

    <!-- External Files and Plugins -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css"/>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
            <a class="navbar-brand" href="/">
				<img class="mr-1" src="favicon.ico" width="40" height="40" alt="logo"/>
				Cytokine Osmium <span class="badge badge-warning">Alpha</span>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarContent">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item">
        				<a class="nav-link" href="/">Home</a>
      				</li>
					<li class="nav-item">
        				<a class="nav-link" href="/teams">Teams</a>
      				</li>
					<li class="nav-item">
        				<a class="nav-link" href="/players">Players</a>
      				</li>
				</ul>
				<% if(logged == 1) { %> 
				<ul class="navbar-nav mr-2">
					<li class="nav-item">
        				<a class="nav-link" href="/profile">Your Profile</a>
      				</li>
				</ul>

				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalLogout">
					Logout
				</button>

				<div class="modal text-dark" id="modalLogout" tabindex="-1" role="dialog" aria-labelledby="modalLogout" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="modalLogoutLabel">Logout</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          							<span aria-hidden="true">&times;</span>
        						</button>
							</div>
							<div class="modal-body">
								Confirm logout?
							</div>
							<div class="modal-footer">
								<form class="form-inline my-2 my-lg-0 mr-auto" action="/logout" method="GET">
                        			<button class="btn btn-primary" type="submit">Proceed</button>
                				</form>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>

				<% }else{ %> 
				<form class="form-inline my-2 my-lg-0 mr-2" action="/register" method="GET">
                    <button class="btn btn-success type="submit">Register</button>
                </form>
				<form class="form-inline my-2 my-lg-0" action="/login" method="GET">
                    <button class="btn btn-primary" type="submit">Login</button>
                </form>
				<% } %> 
			</div>
        </nav>

        <div class="container-fluid mt-3">
			<div class="row no-gutters">
				<div class="col-lg-3">
					<div class="card m-2">
						<img class="card-img-top" src="user_pic/<%= pimage  %> " alt="Profile Picture">
						<div class="card-body">
							<h3 class="card-text"><strong><%= sitename %></strong>

								<% if (siteP == 'DEV') { %>
									<span class="badge badge-success"> DEV </span>
								<% } else if(siteP == 'VIP') { %>
									<span class="badge badge-info"> VIP </span>
								<% } %>

							</h3>
							<p class="card-text">@<%= username %></p>
							<p class="card-text text-muted">Registered since <%= regstamp %> </p>
							<div class="rounded p-2 border border-secondary text-wrap">
								<%= sText %> 
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="card m-2">
						<div class="card-body">
							<div class="rounded border border-dark p-3">
								Hello, welcome to my profile!
							</div>
						</div>
					</div>
					<div class="card m-2">
						<div class="card-body">
							No team info available
						</div>
					</div>
				</div>
			</div>
		</div>

		
	<!-- Visual Scripts -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>