<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('component/header',{profile: true, profileType: 'team', title: name+' ( '+code+' )', description: desc, url:	'/team?code='+code, picUrl: pimage}) %>

	<!-- External Files and Plugins -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
	</script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
		integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link rel="stylesheet" href="css/index.css" />
	<link rel="stylesheet" href="css/profile.css"/>
	<link rel="stylesheet" href="css/table.css" />

</head>

<body>
	<%- include('component/navbar',{selected: 'teams'}) %>

	<div class="container-fluid mt-3">
		<div class="row no-gutters">
			<div class="col-lg-3">
				<div class="card m-2">

					<% if(leader == 1 && logged){ %>
					<div class="rounded image-overlay p-0" data-toggle="modal" data-target="#modalPimage">
						<img class="card-img-top" src="team_pic/<%= pimage  %>" alt="Profile Picture">
						<div class="middle">
							<div class="hover-text">
								Change Team Picture
							</div>
						</div>
					</div>
					<% }else { %>
						<img class="card-img-top" src="team_pic/<%= pimage  %>" alt="Profile Picture">
					<% } %>

					<div class="modal text-dark" id="modalPimage" tabindex="-1" role="dialog" aria-labelledby="modalPimage" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="modalPimageLabel">Change Team Picture</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>Upload picture <span class="text-danger">(*.jpg, .jpeg or .png type only)</span></p>
										<form enctype="multipart/form-data" action="/changeTimage" method="POST">
											<div class="form-group">
												<input class="form-control-file" type="file" name="new_Pimage" accept="images/*" required/>
											</div>	
											<div class="container">
												<div class="row">
														<button class="btn btn-primary" type="submit">Confirm Change</button>
														<button type="button" class="btn btn-secondary ml-auto" data-dismiss="modal">Cancel</button>
												</div>
											</div>
											<input type="hidden" name="team_code" value="<%= code %>">
										</form>
									</div>
									<div class="modal-footer">
										<div class="w-100">
											<form  action="/resetTimage"method="POST">
												<button class="btn btn-warning btn-block" type="submit">Reset to Default</button>
												<input type="hidden" name="team_code" value="<%= code %>">
											</form>
										</div>
									</div>
								</div>
							</div>
					</div>

					<div class="card-body">
						<h3 class="card-text"><strong><%= name %></strong>
						</h3>
						<p class="card-text">@<%= code %></p>
						<p class="card-text text-muted">Registered since <%= regstamp %> </p>
						<div class="rounded p-2 border border-secondary text-wrap">
							<%= desc %>
						</div>
					</div>
					<% if(joined == 0 && logged) { %> 
							<div class="card-footer">
							<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalJoinTeam">
								Join Team
							</button>
							</div>
					<% } %>
					<% if(joined == 1 && leader != 1) { %>
							<div class="card-footer">
							<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalLeaveTeam">
								Leave Team
							</button>
							</div>
					<% } %>
					<% if(leader == 1 && logged) {%> 
						<div class="card-footer">
							<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalStatus">
								Change Description
							</button>
						</div>
					<% } %>
				</div>
			</div>

			<div class="modal text-dark" id="modalJoinTeam" tabindex="-1" role="dialog" aria-labelledby="modalJoinTeam"
								aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="modalJoinTeamLabel">Join Team</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<form action="/joinTeam" method="POST">
												<p>Please enter Team's Invitational Code</p>
												<div class="form-group">
               										<input class="form-control" type="text" name="invCode" placeholder="Invitational Code" required/>
            									</div>
												<input type="hidden" name="teamCode" value="<%= code %>">
												<div class="container">
													<div class="row">
															<button class="btn btn-primary" type="submit">Join</button>
															<button type="button" class="btn btn-secondary ml-auto" data-dismiss="modal">Cancel</button>
													</div>
												</div>
												
											</form>
										</div>
									</div>
								</div>
							</div>
				
				<div class="modal text-dark" id="modalLeaveTeam" tabindex="-1" role="dialog" aria-labelledby="modalLeaveTeam"
								aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="modalLeaveTeamLabel">Leave Team</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<form action="/leaveTeam" method="POST">
												<p>Confirm to leave team?</p>
												
												<input type="hidden" name="teamCode" value="<%= code %>">
												<div class="container">
													<div class="row">
															<button class="btn btn-danger" type="submit">Confirm</button>
															<button type="button" class="btn btn-secondary ml-auto" data-dismiss="modal">Cancel</button>
													</div>
												</div>
												
											</form>
										</div>
									</div>
								</div>
							</div>
				
							<div class="modal text-dark" id="modalStatus" tabindex="-1" role="dialog" aria-labelledby="modalStatus"
								aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="modalStatusLabel">Change Description</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<form id="TtextForm" action="/changeTtext" method="POST">
												<div class="form-group">
               										<!-- <input class="form-control" type="text" name="new_sText" placeholder="New Status Text" required/> -->
													<textarea class="w-100" name="new_TText" placeholder="New Description" form="TtextForm" 
													maxlength="255"
													required></textarea>
													<input type="hidden" name="team_code" value="<%= code %>">
            									</div>
												<div class="container">
													<div class="row">
															<button class="btn btn-primary" type="submit">Confirm Change</button>
															<button type="button" class="btn btn-secondary ml-auto" data-dismiss="modal">Cancel</button>
													</div>
												</div>
												
											</form>
										</div>
									</div>
								</div>
							</div>


			<div class="col-lg-9">

				<% if(leader == 1) {%> 
					<div class="row-lg-9">
						<div class="card m-2">
							<div class="card-body">
								<h2>Team Control Panel</h2>
								<hr class="bg-muted"">
								<p>Invitational Code <span class="badge badge-primary"><%= invCode %></span></p>
							</div>
							<div class="card-footer">
								<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDisbandTeam">
									Disband Team
								</button>

								<div class="modal text-dark" id="modalDisbandTeam" tabindex="-1" role="dialog" aria-labelledby="modalDisbandTeam"
								aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="modalDisbandTeamLabel">Disband Team</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<form action="/disbandTeam" method="POST">
												<p class="text-danger">Alert! Disbanding the team means killing all the connections of the team. Are you sure?</p>
												
												<input type="hidden" name="teamCode" value="<%= code %>">
												<div class="container">
													<div class="row">
															<button class="btn btn-danger" type="submit">Confirm</button>
															<button type="button" class="btn btn-secondary ml-auto" data-dismiss="modal">Cancel</button>
													</div>
												</div>
												
											</form>
										</div>
									</div>
								</div>
							</div>

							</div>
						</div>
					</div>
				<% } %> 

				<div class="row-lg-9">
					<div class="card m-2">
					<div class="card-body">
						<h2 class="mr-auto">Team Players</h2>

						<hr class="bg-muted"">
                <div class=" d-flex justify-content-center flex-column flex-wrap">
						<% if(teammates.length){
                    for(var i = 0;i < teammates.length;i++) { %>

						<a class="text-dark" href="/player?username=<%=teammates[i].username%>" style="text-decoration:none">
							<div class="row rounded m-0 p-2 no-gutters table-hover">
								<div class="col-1">
									<img class="rounded-circle shadow" src="/user_pic/<%= teammates[i].pimage %>"
										alt="<%= teammates[i].username %> profile pic" style="max-width: 64px;">
								</div>
								<div class="col-11 pt-2 text-right text-lg-left text-truncate">

									<span type="button" data-toggle="tooltip" data-placement="top" title="Verified">
										✅
									</span>

									<strong><%= teammates[i].sitename %></strong> ( <%= teammates[i].username %> )

									<% if (teammates[i].username == teamLeader) { %>
									<span class="badge badge-pill badge-warning"> Team Leader </span>
									<% } %>

									<% if (teammates[i].site_privilege == 'DEV') { %>
									<span class="badge badge-pill badge-success"> DEV </span>
									<% } else if(teammates[i].site_privilege == 'VIP') { %>
									<span class="badge badge-pill badge-info"> VIP </span>
									<% } %>

									<% if (teammates[i].username == authname) { %>
									<span class="badge badge-pill badge-primary"> YOU </span>
									<% } %>

									<p class="text-muted"><%= teammates[i].status_text %></p>

								</div>
							</div>
						</a>

						<% }}else{ %>
							<p>No records available.</p>
						<% } %>

					</div>
				</div>
				</div>
		


		</div>
	</div>
	</div>


	<!-- Visual Scripts -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
		integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous">
	</script>
	<script src="https://kit.fontawesome.com/c7e18d8ebc.js" crossorigin="anonymous"></script>
	<script>
		$(function(){
  			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
</body>

</html>